$gridgap: 20px;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.grid-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  gap: $gridgap;
}

.vertical-container {
  gap: $gridgap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  .tile {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 1000px;

    .tile-front, .tile-back {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: transform 0.2s;
      backface-visibility: hidden;
      border-radius: 5px;
    }
    
    .tile-front {
      background-color: rgb(255, 255, 255);
      transform: rotateY(0deg);
    }

    .tile-back {
      transform: rotateY(180deg);
      overflow: hidden;
    }

    &.correct {
      background-color: #72e372;
    }

    &.reveal {
      transform: rotateY(180deg);

      .tile-back {
        transform: rotateY(0deg);
        visibility: visible;
      }
    }
  
    &.wrong {
      background-color: chocolate;
    }
  }
}