$gridgap: 20px;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.grid-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  gap: $gridgap;
  position: relative;

  .progress-bar {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    border-radius: 5px;
    background-color: white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.vertical-container {
  gap: $gridgap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style-type: none;

  .tile {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 1000px;

    &:hover {
      transform: scale(1.05);
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .tile-front, .tile-back {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: transform 0.2s;
      backface-visibility: hidden;
      border-radius: 5px;
    }
    
    .tile-front {
      background-color: rgb(255, 255, 255);
      transform: rotateY(0deg);
    }

    .tile-back {
      transform: rotateY(180deg);
      overflow: hidden;
    }

    &.correct {
      background-color: #72e372;
    }

    &.reveal {
      transform: rotateY(180deg);

      .tile-back {
        transform: rotateY(0deg);
        visibility: visible;
      }
    }
  
    &.wrong {
      background-color: chocolate;
    }
  }
}

.moving-square{
  height: 70px;
  width: 70px;
  border-radius: 4px;
  background-color: #bff60c;
  background-color: #00a4ef;
  animation: flipping-square 3s infinite;
}


@keyframes flipping-square {
  25% {
    background-color: #6ab43e;
    transform: translate(100%, 0) rotateY(-180deg) rotateX(0);
  }
  50% {
    background-color: #e89d41;
    transform: translate(100%, 100%) rotateY(-180deg) rotateX(-180deg);
  }
  75% {
    background-color: #fd4084;
    transform: translate(0, 100%) rotateY(0deg) rotateX(-180deg);
  }
}